package errorDisplay

type ErrorDisplayProps struct {
	Err error
}

templ ErrorDisplay(props ErrorDisplayProps) {
	if props.Err == nil {
		{ children... }
	} else {
		<p>{ props.Err.Error() }</p>
	}
}
